<section class="p-5 text-center" id="learn">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md">
        <img src="../../assets/images/fundamentals.svg" class="img-fluid">
      </div>
      <div class="col-md p-5">
        <h2>Learn the fundamentals</h2>
        <p class="lead">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti repudiandae aspernatur atque accusantium
          tenetur et!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloribus fugiat, dignissimos rerum, ipsam
          facilis quidem quisquam deleniti qui eaque possimus officia. Facere rerum distinctio officia et rem. Culpa,
          eius.</p>
        <a href="#" class="btn btn-light mt-3"> <i class="bi bi-chevron-right"></i> Read more</a>
      </div>
    </div>
  </div>
</section>

<section class="p-5 bg-dark text-light" id="learn">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md p-5">
        <h2>Learn React</h2>
        <p class="lead">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti repudiandae aspernatur atque accusantium
          tenetur et!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloribus fugiat, dignissimos rerum,
          ipsam
          facilis quidem quisquam deleniti qui eaque possimus officia. Facere rerum distinctio officia et rem. Culpa,
          eius.</p>
        <a href="#" class="btn btn-light mt-3"> <i class="bi bi-chevron-right"></i> Read more</a>
      </div>
      <div class="col-md">
        <img src="../../assets/images/react.svg" class="img-fluid">
      </div>
    </div>
  </div>
</section>